'.source.gfm, .text.md':
  '[name](url)':
    'prefix': 'lia-link'
    'body': '[${1:name}](${2:url})'
    'description': """
      Links can be added in many ways to a document (relative or absolute), either in common Markdown style by enclosed brackets ([]) and parentheses (()), or directly if it starts with http or www and matches the common url pattern.
      If you want to navigate within the current document, use hash tag and the number of the slide.
      And you can add additional html and css options by adding a trailing comment.

      Examples:
        [LiaScript](https://liascript.github.io)

        Also an accepted link: https://liascript.github.io

        Local navigation by slide number: [top](#1)

        Local navigation by slide title: [top](#some-title)

        With styling [LiaScript](https://liascript.github.io)<!--
          title = "click me"
          style = "color: red;"
        -->
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🔗</span>'

  '[name](url "info")':
    'prefix': 'lia-link-info'
    'body': '[${1:name}](${2:url} "${3:info}")'
    'description': """
      An optional information can be attached to every link by adding double quotes after the link in the parentheses.

      Examples:
        [LiaScript](https://liascript.github.io "click Me")

        Local navigation:
          [top](#1 "by slide number")
          [top](#and-the-title-is "by slide title")
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🔗</span>'

  '![alt-text](image-url)':
    'prefix': 'lia-image'
    'body': '![${1:alt-text}](${2:image-url})'
    'description': """
      Include images via the common Markdown notation as depicted below, by using absolute or relative paths. In contrast to common Markdown you can add also styles, classes, or any other allowed image tag to it simply by appending a comment tag.

      Example:

        ![image of a puppy](https://upload.wikimedia.org/wikipedia/commons/c/c7/Puppy_on_Halong_Bay.jpg)

        ![relative](./img/puppy.jpg)

        ![with styling](./img/puppy.jpg)<!--
            title = "a gray puppy"
            width = "300px"
            style = "border: 10px solid; filter: grayscale(100%);"
          -->
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🖼</span>'

  '![alt-text](image-url "info")':
    'prefix': 'lia-image-info'
    'body': '![${1:alt-text}](${2:image-url} "${3:info}")'
    'description': """
      Optional information can be attached to every image by adding double quotes after the link in the parentheses. This will be attached as a subtitle to this element and can also include Markdown syntax.

      Example:

        ![image of a puppy](https://upload.wikimedia.org/wikipedia/commons/c/c7/Puppy_on_Halong_Bay.jpg "This image is free __CC0__")

        ![relative](./img/puppy.jpg "A cute image of a __puppy__")
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🖼</span>'

  '?[alt-text](audio-url)':
    'prefix': 'lia-audio'
    'body': '?[${1:alt-text}](${2:audio-url})'
    'description': """
      Including audio is done with a starting question mark (?) that is followed a common Markdown link. If you want to include soundcloud, then you only have to refer to the link and the player gets embedded into your course.

      Example:

        ?[singing birds](https://bigsoundbank.com/UPLOAD/mp3/1068.mp3)

        ?[soundcloud](https://soundcloud.com/glennmorrison/beethoven-moonlight-sonata)
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🎵</span>'

  '?[alt-text](audio-url "info")':
    'prefix': 'lia-audio-info'
    'body': '?[${1:alt-text}](${2:audio-url} "${3:info}")'
    'description': """
      An optional information can be attached to every audio file by adding double quotes after the link in the parentheses. This will be attached as a subtitle to this element and can also include Markdown syntax.

      Example:

        ?[singing birds](https://bigsoundbank.com/UPLOAD/mp3/1068.mp3 "optional infos")
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🎵</span>'


  '!?[alt-text](movie-url)':
    'prefix': 'lia-movie'
    'body': '!?[${1:alt-text}](${2:movie-url})'
    'description': """
      Include movies is like combining images and sound by a starting exclamation mark followed by a question mark (!?) as depicted below. Paths can either be absolute or relative. You can add also styles, classes, or any other allowed options to it simply by appending a comment tag.

      To simplify the usage, you can directly use the YouTube link, or Vimeo, or TeacherTube. Those resources are atomatically parsed and included appropriately into the document, without searching for an embed-code.

      Example:

        !?[eLab](https://www.youtube.com/watch?v=bICfKRyKTwE)

        !?[relative](./mov/video.mp4)

        !?[eLab](https://www.youtube.com/watch?v=bICfKRyKTwE)<!--
            title = "the elab in gray"
            width = "90%"
            style = "border: 10px solid; filter: grayscale(100%);"
          -->

      But it is still possible to use HTML to include Videos and other stuff ...

        <iframe width="560" height="315" src="https://www.youtube.com/embed/bICfKRyKTwE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🎞</span>'

  '!?[alt-text](movie-url "info")':
    'prefix': 'lia-movie-info'
    'body': '!?[${1:alt-text}](${2:movie-url} "{3:info}")'
    'description': """
      Optional information can be attached to every video by adding double quotes after the link in the parentheses. This will be attached as a subtitle to this element and can also include Markdown syntax.

      Example:

        !?[eLab](https://www.youtube.com/watch?v=bICfKRyKTwE "Some information about the previous __eLab__ project.")
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🎞</span>'


  '??[alt-text](url)':
    'prefix': 'lia-embed'
    'body': '??[${1:alt-text}](${2:url})'
    'description': """
      Embed anything by using two question marks. LiaScript will try to determine if it is possible to use oEmbed for this site, if not, the content will be embedded as an `<iframe>`.

      Example:

        ??[circuit simulator](https://falstad.com/circuit/circuitjs.html?ctz=CQAgjCAMB0l3BWcDoBYDsAmdA2dBOdMMADhzEnxASQusmoFMBaYgKACcQBmTB7yKh58eCTFHCQ2Ac2H8xcniSEMpAJRCYEOTSRKbI+zHokNUDTNCSqoVtgHdF2cbwuYVDp+5CowOzN5Sjq7gxj5+ofrqimBhISQ2Zgx0iXYAxjFxIgEqtvCC+IVFxSU6+ND43CRiejjcOJUkEDBwYJzhOrH6vv6BkvCeIV2aWJFQg9nezpqBbADOI+LD0zkSEAAuHACujGwAZprauvohxlHgVnmYbAD2IPrDSfgPqrBw6E1aEuInbEA)

        ??[Pottery Jar 3D model](https://sketchfab.com/3d-models/pottery-jar-0576d43d28924c948ed3bbae02e4e0cb)
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🎞</span>'


  '![alt-text](url)':
    'prefix': 'lia-gallery'
    'body': '![${1:alt-text}](${2:url}) ![${3:alt-text}](${4:url})'
    'description': """
      If you group multimedia links within one line or within one block, they will appear as a gallery within LiaScript.

      Example:

        ![image of a puppy](https://upload.wikimedia.org/wikipedia/commons/c/c7/Puppy_on_Halong_Bay.jpg)
        ??[circuit simulator](https://falstad.com/circuit/circuitjs.html)
        ??[Pottery Jar 3D model](https://sketchfab.com/3d-models/pottery-jar-0576d43d28924c948ed3bbae02e4e0cb)
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">🎞</span>'
