'.source.gfm':
  'insert a liascript main-header':
    'prefix': 'hea'
    'body': """
    <!--
    author:   ${1:Your Name}
    email:    ${2:your@email.ya}
    version:  ${3:1.0.0}
    language: ${4:en}
    narrator: ${5:US English Female}

    comment:  ${6:This simple description of your course.
              Multiline is also okay.}

    script:   ${7:https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js}

    translation: ${8:Français}  ${9:translations/French.md}
    -->
    """
  'insert single line macro definition':
    'prefix': 'mcs'
    'body': '@${1:name}: ${2:^__@0__^}'
  'insert multiline macro definition':
    'prefix': 'mcm'
    'body': """
    @${1:name}
    ${2:body}
    @end"""
