'.source.gfm, .text.md':

  '---':
    'prefix': 'lia-horizontal-line'
    'body': '----------------------\n'
    'description': """
      Horizontal lines are realized by adding at least 3 hyphens in a row (---), but more hyphens look a little bit nicer ;)

      Example:
        This is a horizontal line:

          ---

        And this also:

        ---------------------------------------------
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">📏</span>'


  '> ...':
    'prefix': 'lia-quote'
    'body': '> ${1:your quote}'
    'description': """
      Insert single line quotes or quote blocks just with the help of a starting (>).

      Example:
        > Block-quotes are very handy in email to emulate reply text.
        > This line is part of the same quote.

        Quote break.

        > This is a very long line that will still be quoted properly when it wraps. Oh boy let's keep writing to make sure this is long enough to actually wrap for everyone. Oh, you can *put* **Markdown** into a block-quote.
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">📌</span>'


  '# Main Title':
    'prefix': 'lia-title-1'
    'body': '# ${1:Main Title}\n'
    'description': """
      As in common Markdown, a document is segregated into different parts by its titles. A title starts with hash-tag (#) that is followed by an head-line. The number of subsequent hash-tags defines the order. It is furthermore possible to overwrite some of the definitions from the main header, see more information on this by typing "liaheadersection" ...

      Example:
        # Main Title

        ...

        ## Chapter Title
        <!--
        comment: This comment is only for demonstrating purposes
                 and will be overwritten within the next slide...

        author:  New Author
        email:   notmain@email.com
        -->

        ...

        ### Section __Title__

        ...

      It is possible to add styling elements to the titles, but this should be used only in some rare cases.
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">🗂</span>'


  '## Chapter Title':
    'prefix': 'lia-title-2'
    'body': '## ${1:Chapter Title}\n'
    'description': """
      As in common Markdown, a document is segregated into different parts by its titles. A title starts with hash-tag (#) that is followed by an head-line. The number of subsequent hash-tags defines the order. It is furthermore possible to overwrite some of the definitions from the main header, see more information on this by typing "liaheadersection" ...

      Example:
        # Main Title

        ...

        ## Chapter Title
        <!--
        comment: This comment is only for demonstrating purposes
                 and will be overwritten within the next slide...

        author:  New Author
        email:   notmain@email.com
        -->

        ...

        ### Section __Title__

        ...

      It is possible to add styling elements to the titles, but this should be used only in some rare cases.
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">🗂</span>'


  '### Section Title':
    'prefix': 'lia-title-3'
    'body': '### ${1:Section Title}\n'
    'description': """
      As in common Markdown, a document is segregated into different parts by its titles. A title starts with hash-tag (#) that is followed by an head-line. The number of subsequent hash-tags defines the order. It is furthermore possible to overwrite some of the definitions from the main header, see more information on this by typing "liaheadersection" ...

      Example:
        # Main Title

        ...

        ## Chapter Title
        <!--
        comment: This comment is only for demonstrating purposes
                 and will be overwritten within the next slide...

        author:  New Author
        email:   notmain@email.com
        -->

        ...

        ### Section __Title__

        ...

      It is possible to add styling elements to the titles, but this should be used only in some rare cases.
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">🗂</span>'


  '#### SubSection Title':
    'prefix': 'lia-title-4'
    'body': '#### ${1:SubSection Title}\n'
    'description': """
      As in common Markdown, a document is segregated into different parts by its titles. A title starts with hash-tag (#) that is followed by an head-line. The number of subsequent hash-tags defines the order. It is furthermore possible to overwrite some of the definitions from the main header, see more information on this by typing "liaheadersection" ...

      Example:
        # Main Title

        ...

        ## Chapter Title
        <!--
        comment: This comment is only for demonstrating purposes
                 and will be overwritten within the next slide...

        author:  New Author
        email:   notmain@email.com
        -->

        ...

        ### Section __Title__

        ...

      It is possible to add styling elements to the titles, but this should be used only in some rare cases.
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">🗂</span>'


  '##### Paragraph Title':
    'prefix': 'lia-title-5'
    'body': '##### ${1:Paragraph Title}\n'
    'description': """
      As in common Markdown, a document is segregated into different parts by its titles. A title starts with hash-tag (#) that is followed by an head-line. The number of subsequent hash-tags defines the order. It is furthermore possible to overwrite some of the definitions from the main header, see more information on this by typing "liaheadersection" ...

      Example:
        # Main Title

        ...

        ## Chapter Title
        <!--
        comment: This comment is only for demonstrating purposes
                 and will be overwritten within the next slide...

        author:  New Author
        email:   notmain@email.com
        -->

        ...

        ### Section __Title__

        ...

      It is possible to add styling elements to the titles, but this should be used only in some rare cases.
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">🗂</span>'


  '###### SubParagraph Title':
    'prefix': 'lia-title-6'
    'body': '##### ${1:SubParagraph Title}\n'
    'description': """
      As in common Markdown, a document is segregated into different parts by its titles. A title starts with hash-tag (#) that is followed by an head-line. The number of subsequent hash-tags defines the order. It is furthermore possible to overwrite some of the definitions from the main header, see more information on this by typing "liaheadersection" ...

      Example:
        # Main Title

        ...

        ## Chapter Title
        <!--
        comment: This comment is only for demonstrating purposes
                 and will be overwritten within the next slide...

        author:  New Author
        email:   notmain@email.com
        -->

        ...

        ### Section __Title__

        ...

      It is possible to add styling elements to the titles, but this should be used only in some rare cases.
    """
    'descriptionMoreURL': 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
    'leftLabelHTML': '<span style="color:#ff0">🗂</span>'
