'.source.gfm':
  'voice: UK English Female':
    'prefix': 'voice.uk.english.female'
    'body':   'UK English Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: UK English Male':
    'prefix': 'lvoice.uk.english.male'
    'body':   'UK English Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: US English Female':
    'prefix': 'voice.us.english.female'
    'body':   'US English Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: US English Male':
    'prefix': 'voice.us.english.male'
    'body':   'US English Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Arabic Female':
    'prefix': 'voice.arabic.female'
    'body':   'Arabic Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Arabic Male':
    'prefix': 'voice.arabic.male'
    'body':   'Arabic Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Armenian Male':
    'prefix': 'voice.armenian.male'
    'body':   'Armenian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Australian Female':
    'prefix': 'voice.australian.english.female'
    'body':   'Australian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Australian Male':
    'prefix': 'voice.australian.english.male'
    'body':   'Australian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Brazilian Portuguese Female':
    'prefix': 'voice.brazilian.portuguese.female'
    'body':   'Brazilian Portuguese Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Brazilian Portuguese Male':
    'prefix': 'voice.brazilian.portuguese.male'
    'body':   'Brazilian Portuguese Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Chinese Female':
    'prefix': 'voice.chinese.female'
    'body':   'Chinese Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Chinese Male':
    'prefix': 'voice.chinese.male'
    'body':   'Chinese Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Chinese (Hong Kong) Female':
    'prefix': 'voice.chinese.hong.kong.female'
    'body':   'Chinese (Hong Kong) Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Chinese (Hong Kong) Male':
    'prefix': 'voice.chinese.hong.kong.male'
    'body':   'Chinese (Hong Kong) Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Chinese Taiwan Female':
    'prefix': 'voice.chinese.taiwan.female'
    'body':   'Chinese Taiwan Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Chinese Taiwan Male':
    'prefix': 'voice.chinese.taiwan.male'
    'body':   'Chinese Taiwan Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Czech Female':
    'prefix': 'voice.czech.female'
    'body':   'Czech Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Czech Male':
    'prefix': 'voice.czech.male'
    'body':   'Czech Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Danish Female':
    'prefix': 'voice.danish.female'
    'body':   'Danish Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Danish Male':
    'prefix': 'voice.danish.male'
    'body':   'Danish Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Deutsch Female':
    'prefix': 'voice.deutsch.female'
    'body':   'Deutsch Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Deutsch Male':
    'prefix': 'voice.deutsch.male'
    'body':   'Deutsch Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: German Female':
    'prefix': 'voice.german.female'
    'body':   'Deutsch Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: German Male':
    'prefix': 'voice.german.male'
    'body':   'Deutsch Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Dutch Female':
    'prefix': 'voice.dutch.female'
    'body':   'Dutch Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Dutch Male':
    'prefix': 'voice.dutch.male'
    'body':   'Dutch Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Finnish Female':
    'prefix': 'voice.finnish.female'
    'body':   'Finnish Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Finnish Male':
    'prefix': 'voice.finnisch.male'
    'body':   'Finnish Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: French Female':
    'prefix': 'voice.french.female'
    'body':   'French Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: French Male':
    'prefix': 'voice.french.male'
    'body':   'French Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Greek Female':
    'prefix': 'voice.greek.female'
    'body':   'Greek Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Greek Male':
    'prefix': 'voice.greek.male'
    'body':   'Greek Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Hindi Female':
    'prefix': 'voice.hindi.female'
    'body':   'Hindi Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Hindi Male':
    'prefix': 'voice.hindi.male'
    'body':   'Hindi Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Hungarian Female':
    'prefix': 'voice.hungarian.female'
    'body':   'Hungarian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Hungarian Male':
    'prefix': 'voice.hungarian.male'
    'body':   'Hungarian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Indonesian Female':
    'prefix': 'voice.indonesian.female'
    'body':   'Indonesian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Indonesian Male':
    'prefix': 'voice.indonesian.male'
    'body':   'Indonesian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Italian Female':
    'prefix': 'voice.italian.female'
    'body':   'Italian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Italian Male':
    'prefix': 'voice.italian.male'
    'body':   'Italian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Japanese Female':
    'prefix': 'voice.japanese.female'
    'body':   'Japanese Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Japanese Male':
    'prefix': 'voice.japanese.male'
    'body':   'Japanese Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Korean Female':
    'prefix': 'voice.korean.female'
    'body':   'Korean Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Korean Male':
    'prefix': 'voice.korean.male'
    'body':   'Korean Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Latin Female':
    'prefix': 'voice.latin.female'
    'body':   'Latin Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Latin Male':
    'prefix': 'voice.latin.male'
    'body':   'Latin Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Norwegian Female':
    'prefix': 'voice.norwegian.female'
    'body':   'Norwegian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Norwegian Male':
    'prefix': 'voice.norwegian.male'
    'body':   'Norwegian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Polish Female':
    'prefix': 'voice.polish.female'
    'body':   'Polish Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Polish Male':
    'prefix': 'voice.polish.male'
    'body':   'Polish Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Portuguese Female':
    'prefix': 'voice.portuguese.female'
    'body':   'Portuguese Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Portuguese Male':
    'prefix': 'voice.portuguese.male'
    'body':   'Portuguese Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Romanian Female':
    'prefix': 'voice.romanian.female'
    'body':   'Romanian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Russian Female':
    'prefix': 'voice.russian.female'
    'body':   'Russian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Russian Male':
    'prefix': 'voice.russian.female'
    'body':   'Russian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Slovak Female':
    'prefix': 'voice.slovak.female'
    'body':   'Slovak Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Slovak Male':
    'prefix': 'voice.slovak.male'
    'body':   'Slovak Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Spanish Female':
    'prefix': 'voice.spanish.female'
    'body':   'Spanish Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Spanish Male':
    'prefix': 'voice.spanish.male'
    'body':   'Spanish Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Spanish Latin American Female':
    'prefix': 'voice.spanish.latin.america.female'
    'body':   'Spanish Latin American Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Spanish Latin American Male':
    'prefix': 'voice.spanish.latin.america.male'
    'body':   'Spanish Latin American Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Swedish Female':
    'prefix': 'voice.swedish.female'
    'body':   'Swedish Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Swedish Male':
    'prefix': 'voice.swedish.male'
    'body':   'Swedish Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Tamil Male':
    'prefix': 'voice.tamil.male'
    'body':   'Tamil Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Thai Female':
    'prefix': 'voice.tamil.female'
    'body':   'Thai Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Thai Male':
    'prefix': 'voice.thai.male'
    'body':   'Thai Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Turkish Female':
    'prefix': 'voice.turkish.female'
    'body':   'Turkish Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Turkish Male':
    'prefix': 'voice.turkish.male'
    'body':   'Turkish Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Vietnamese Female':
    'prefix': 'voice.vietnamese.female'
    'body':   'Vietnamese Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Vietnamese Male':
    'prefix': 'voice.vietnamese.male'
    'body':   'Vietnamese Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Afrikaans Male':
    'prefix': 'voice.afrikaans.male'
    'body':   'Afrikaans Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Albanian Male':
    'prefix': 'voice.albanian.male'
    'body':   'Albanian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Bosnian Male':
    'prefix': 'voice.bosnian.male'
    'body':   'Bosnian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Catalan Male':
    'prefix': 'voice.catalan.male'
    'body':   'Catalan Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Croatian Male':
    'prefix': 'voice.croatian.male'
    'body':   'Croatian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Esperanto Male':
    'prefix': 'voice.esperanto.male'
    'body':   'Esperanto Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Icelandic Male':
    'prefix': 'voice.icelandic.male'
    'body':   'Icelandic Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Latvian Male':
    'prefix': 'voice.latvian.male'
    'body':   'Latvian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Macedonian Male':
    'prefix': 'voice.macedonian.male'
    'body':   'Macedonian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Moldavian Female':
    'prefix': 'voice.moldavian.female'
    'body':   'Moldavian Female'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Moldavian Male':
    'prefix': 'voice.moldavian.male'
    'body':   'Moldavian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Montenegrin Male':
    'prefix': 'voice.montenegrin.male'
    'body':   'Montenegrin Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Serbian Male':
    'prefix': 'voice.serbian.male'
    'body':   'Serbian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Serbo-Croatian Male':
    'prefix': 'voice.serbo.croatian.male'
    'body':   'Serbo-Croatian Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Swahili Male':
    'prefix': 'voice.swahili.male'
    'body':   'Swahili Male'
    'descriptionMoreURL': 'https://responsivevoice.org'

  'voice: Welsh Male':
    'prefix': 'voice.welsh.male'
    'body':   'Welsh Male'
    'descriptionMoreURL': 'https://responsivevoice.org'
