'.source.gfm':
  '[[___ ___]]':
    'prefix': 'lia.survey.text'
    'body':   '[[___ ___]]'
    'description': """
      Surveys are defined similarly to quizzes by using brackets ([]). A text survey is defined by a multiple number three subsequent underscores (___) that are enclosed by double brackets. The number of underscores defines the number of lines a user has to fill out.

      Example:

        A single line text survey:

          [[___]]

        A two line text survey:

          [[___ ___]]

        And a six liner:

          [[___ ___ ___ ___ ___ ___ ]]
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">📋</span>'


  '[(1)]...[(:...)]...':
    'prefix': 'lia.survey.single.choice'
    'body': """
      [(${1:1})] ${2:option 1}
      [(${3:2})] ${4:option 2}
      [(${5:3})] ${6:option 3}
    """
    'description': """
      The definition is similar to a single choice quiz, but instead of an X, either numbers have to be put into parentheses or variable names that start with a colon (:). They do not have to be ordered and the number is also variable.

      Example:

        Choose between different options:

          [(1)] option 1
          [(2)] option 2
          [(0)] option 3

        What is your favorite color:

          [(:red)]   red?
          [(:blue)]  blue?
          [(:green)] green?
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">📋</span>'


  '[[1]]...[[:...]]...':
    'prefix': 'lia.survey.multiple.choice'
    'body': """
      [[${1:1}]] ${2:option 1}
      [[${3:2}]] ${4:option 2}
      [[${5:3}]] ${6:option 3}
    """
    'description': """
      The definition is similar to a multiple choice quiz, but instead of an X, either numbers have to be put into parentheses or variable names that start with a colon (:). They do not have to be ordered and the number is also variable.

      Example:

        Choose as many options as your want:

          [[1]] option 1
          [[2]] option 2
          [[0]] option 0

        Mark all colors you like:

          [[:red]]   red?
          [[:blue]]  blue?
          [[:green]] green?
          [[:none]]  None of these ...
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">📋</span>'


  '[(1)(2)(0)]':
    'prefix': 'lia.survey.single.choice.matrix'
    'body': """
      [(${1:0})(${2:1})(${3:2})]
      [         ] ${4:text}
      [         ] ${5:text}
      [         ] ${6:text}
    """
    'description': """
      A list of single choice surveys can be defined as depiceted below. Either numbers have to be put into parentheses or variable names that start with a colon (:). They do not have to be ordered and the number is also variable.

      Example:

        Give marks:

            [(-1)(0)(1)]
            [          ] liaScript is great?
            [          ] I would use it to make online **courses**?
            [          ] I would use it for online **surveys**?

        What is your opinion:

            [(:agree)(:unsure)(:maybe not so)]
            [                                ] liaScript is great?
            [                                ] I would use it to make online **courses**?
            [                                ] I would use it for online **surveys**?
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">📋</span>'


  '[[1][2][0]]':
    'prefix': 'lia.survey.multiple.choice.matrix'
    'body': """
      [[${1:0}][${2:1}][${3:2}]]
      [         ] ${4:text}
      [         ] ${5:text}
      [         ] ${6:text}
    """
    'description': """
      A list of multiple choice surveys can be defined as depiceted below. Either numbers have to be put into parentheses or variable names that start with a colon (:). They do not have to be ordered and the number is also variable.

      Example:

        Give marks:

            [[-1][0][1]]
            [          ] liaScript is great?
            [          ] I would use it to make online **courses**?
            [          ] I would use it for online **surveys**?

        What is your opinion:

            [[:agree][:unsure][:maybe not so]]
            [                                ] liaScript is great?
            [                                ] I would use it to make online **courses**?
            [                                ] I would use it for online **surveys**?
    """
    'descriptionMoreURL': 'https://liascript.github.io/course/?https://raw.githubusercontent.com/liaScript/docs/master/README.md'
    'leftLabelHTML': '<span style="color:#ff0">📋</span>'
